{{{_header}}}
<!-- START CENTERED WHITE CONTAINER -->
<table role="presentation" class="main">
    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Olá, {{user}}</p>
                        <p>
                            Alguém solicitou a recuperação da senha utilizada no {{siteName}} por este e-mail.
                            Para recuperá-la, acesse o link:
                        </p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td align="center">
                                         <a class="btn"
                                           style="border: 1px solid #c3c3c3; border-radius: 8px;"
                                           href="{{url}}" target="_blank">Redefinir senha</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <p>Se você não pediu a recuperação da sua senha, apenas ignore esta mensagem.</p>
                        <br>
<!--                        <p>Caso tenha qualquer dúvida, entre em contato via email ou chat pelos links de suporte abaixo:</p>-->

                        {{#urlSupportChat}}
                            <p>Suporte por chat: <a href={{urlSupportChat}} target="_blank">{{urlSupportChat}}</a></p>
                        {{/urlSupportChat}}

                        {{#urlSupportEmail}}
                            <p>Suporte por email: <a href=mailto:{{urlSupportEmail}} target="_blank">{{urlSupportEmail}}</a></p>
                        {{/urlSupportEmail}}

                        {{#urlSupportSite}}
                            <p>{{textSupportSite}} <a href={{urlSupportSite}} target="_blank">{{urlSupportSite}}</a></p>
                        {{/urlSupportSite}}

                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MAIN CONTENT AREA -->
</table>
<!-- END CENTERED WHITE CONTAINER -->
{{{_footer}}}
