{{{_header}}}
<!-- START CENTERED WHITE CONTAINER -->
<table role="presentation" class="main">
    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p><b>Olá, {{user}}</b></p>
                        <p>Bem-vindo(a) ao {{siteName}}!</p>
                        <p>Clique no link abaixo para validar o seu email:</p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <a class="btn btn-primary" href="{{urlToValidateAccount}}" target="_blank">
                                        Validar conta
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <p>
                            Após a validação, comece a cadastrar seus agentes, espaços, projetos e eventos para
                            construirmos nosso mapa. Você também poderá participar de diversas oportunidades e
                            acompanhar a agenda artístico-cultural da sua região, além de criar seu próprio portfólio.
                        </p>
                        <p>
                            Caso tenha qualquer dúvida, entre em contato via email ou chat pelos links de suporte abaixo:
                        </p>
                        {{#urlSupportChat}}
                            <p>Suporte por chat: <a href="{{urlSupportChat}}" target="_blank">{{urlSupportChat}}</a></p>
                        {{/urlSupportChat}}
                        {{#urlSupportEmail}}
                            <p>Suporte por email: <a href="{{urlSupportEmail}}" target="_blank">{{urlSupportEmail}}</a></p>
                        {{/urlSupportEmail}}
                        {{#urlSupportSite}}
                            <p>{{textSupportSite}} <a href="{{urlSupportSite}}" target="_blank"> {{urlSupportSite}} </a></p>
                        {{/urlSupportSite}}
                        <p>Até mais!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{{_footer}}}
